<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/css/linkedin_create_profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
    <script type="text/javascript" src="/javascript/createProfile.js"></script>
</head>

<body>
    <div id="container" class="row">
        <div class="col m4 left"></div>
        <div class="col m4 center z-depth-5">
          <div class = "col m2"></div>
            <!-- <div id="headshot">
                        <img src="<%=user.profilePictureUrl%>" height="200xp" width="200px" alt="">
                    </div> -->
            <div class = "col m8">
            <form action="" method="post">

                <input type="text" name="first_name" value="<%=user.first_name%>">
                <input type="text" name="last_name" value="<%=user.last_name%>">
                <input type="text" name "headline" value="<%=user.headline%>">
                <input type="text" name="location" value="San Francisco Bay Area">
                <input type="text" name="industry" value="<%=user.industry%>">
                <div class="down">

                    <div class="file-field input-field">
                        <div class="btn light-blue darken-1">
                            <span>Resume</span>
                            <input type="file" name="resumes" multiple>
                        </div>
                        <div class="file-path-wrapper">
                            <input class="file-path validate" type="text" placeholder="Upload resume">
                        </div>
                    </div>
                </div>

                <div id="added_skills"></div>
                <div id="skills">
                    <input class="center-align" id="add_skill" type="text" name="skills" placeholder="Skils">
                    <input id="add_button" class="btn-floating btn-large waves-effect waves-light light-blue darken-1" type="button" value="add">
                </div>
                <input id="submit_button" type="submit" value="Save Changes" class="btn light-blue darken-1">
            </form>
            </div>
            <div class = "col m2"></div>
        </div>
        <div class="col m4 right"></div>
    </div>
</body>

</html>
